{% load static %}
<nav class="navbar is-dark">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"><strong>Shop</strong></a>
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navMenu">
        <!-- navbar-start, navbar-end... -->
        <div class="navbar-end">
            <a class="navbar-item">Category</a>
            <a class="navbar-item">Category</a>
            <a class="navbar-item">Category</a>
        </div>
    </div>
</nav>